.row {
 display: grid;
 margin: auto;
 grid-template-columns: 20% 1fr;
 grid-gap: 10px;
 max-width: 1000px;
 max-height: 700px;
 height: 100vh;
 justify-content: space-between;
 grid-template-areas:
 "nav messenger";
}

.nav{
 grid-area: nav;
 background: #1b1b1b;
 text-align: center;
}

.messenger {
 position: relative;
 width: 100%;
 background: #ececec;
}


