
.monitor {
    position: relative;
    flex: 1;
    background-color: #eaeaea;
    overflow-y: auto;
    padding: 10px;
}

.placeholder {
    position: sticky;
    bottom: -10px;
}
.placeholder .writes {
    position: absolute;
    bottom: 0;
}